@model BookLibrary.Models.Author

<h1>Dodaj autora</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <p>
                <div class="form-group">
                    <input type="submit" value="Dodaj autora" class="btn btn-success" />
                </div>
        </form>
    </div>
</div>

<hr />

<div>
    <a asp-action="Index">Povratak na popis autora</a>
</div>
